# Apify API Token (obtain from https://console.apify.com/account/integrations)
APIFY_API_TOKEN=your_apify_api_token_here

# Default Actor ID (defaults to apify/google-search-scraper)
DEFAULT_APIFY_ACTOR=apify/google-search-scraper
